.book-service-container {
  background: linear-gradient(50deg, #0ce410, #e1e90f);
  border-radius: 15px;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #fbfcfc;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.user-details label {
  font-weight: bold;
  color: #151402;
}

.user-details input {
  width: 100%;
  padding: 10px;
  border: 1px solid #a6cf12;
  border-radius: 5px;
  font-size: 1rem;
}

.services-list {
  margin-bottom: 20px;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #a6cf12;
  border-radius: 10px;
  background-color: #ffffff;
}

.service-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #1b1a0a;
}

.service-info p {
  margin: 2px 0;
  color: #151402;
}

.date-btn {
  background-color: #d1d11b;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.date-btn:hover {
  background-color: #5ba8f0;
}

.address-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.address-input,
.address-display {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.address-display {
  background-color: #ebeff1;
  text-align: center;
  font-size: 0.9rem;
}

.edit-btn {
  background-color: #cbd417;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #b30d0d;
}

.total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #95d1cc;
  margin-bottom: 20px;
}

.continue-btn {
  width: 100%;
  padding: 10px;
  background-color: #cbd417;
  color: rgb(15, 11, 11);
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.continue-btn:hover {
  background-color: #b30d0d;
}

.date-input,
.time-input {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.date-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #cbd417;
  color: rgb(26, 22, 22);
  border: none;
  cursor: pointer;
}

.date-btn:hover {
  background-color: #8fd842;
}

/* Added Styling for Username and Phone Number Fields */
.user-info {
  margin-bottom: 20px;
}

.user-info input {
  width: 100%;
  padding: 10px;
  border: 1px solid #a6cf12;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 5px;
}

.user-info label {
  font-weight: bold;
  color: #151402;
}
