.payment-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(50deg, #35e438, #d9e013);
  text-align: center;
}

.payment-details {
  margin-bottom: 20px;
}

.payment-details h3 {
  font-size: 18px;
  color: #060505;
  margin-bottom: 10px;
}

.payment-details p {
  margin: 5px 0;
  font-size: 16px;
  color: #ea1515;
}

.payment-details ul {
  list-style-type: none;
  padding: 0;
}

.payment-details ul li {
  font-size: 16px;
  color: #e20d0d;
  margin-bottom: 5px;
}

.payment-methods {
  margin-bottom: 20px;
}

.payment-methods h3 {
  font-size: 18px;
  color: #0a0909;
  margin-bottom: 10px;
}

.payment-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.payment-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.payment-option input[type="radio"] {
  margin-right: 10px;
}

.payment-logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.payment-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.payment-btn:hover {
  background-color: #218838;
}

.empty-payment {
  text-align: center;
  margin-top: 50px;
}

.empty-payment h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.empty-payment button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.empty-payment button:hover {
  background-color: #0056b3;
}
